@media screen and (min-width:700px){
	*{
		box-sizing:border-box;
	}
	.flex-container{
		display:flex;
		flex-direction:row;
		justify-content:space-around;
		align-items:center;
		position:relative;
		top:41%;
	}
	.flex-item{
		background-color:#d966ff;
		width:20%;
		height:150px;
		border: 2px solid black;
		font-weight:bolder;
		border-radius:4px;
	}
	.flex-item-2{
		width:20%;
		height:150px;
		font-weight:bolder;
	}
	body{
		background-color:#FFE6F7;
	}
	header{
		position:relative;
		top:0px;
		margin:auto;
		height:10%;
		border: 2px solid black;
		color:white;
		font-size:50px;
		text-align:center;
		background-color:#FF66CC;
	}
	nav{
		background-color:#D9B3FF;
		height:8%;
	}
	.li{
		display:inline;
		position:relative;
		top:15px;
		float:center-right;
	}
	li a{
		text-decoration:none;
		color:black;
		text-align:center;
		font-weight:bold;
	}
	button{
		width:15%;
		margin: -2px 12px;
		border: 2px solid #ff3399;
		border-radius:5px;
		padding:5px;
		
	}
	.flex-a{
		text-decoration:none;
		color:white;
		text-align:center;
		font-weight:bolder;
		position:relative;
		margin:auto;
		/*top:40%;
		left:20%;*/
		font-size:150%;
		padding:5%;
	}
	#h1{
		text-align:center;
		color:#cc0088;
		position:relative;
		top:15%;
	}
	#moi{
		position:relative;
		left:15%;
	}
	#cond{
		padding:5%;
		word-wrap:break-word;
	}
	#oil{
		position:relative;
		left:35%;
	}
	.flex-b{
		text-decoration:none;
		color:black;
		font-weight:bolder;
		position:relative;
		top:40%;
		left:20%;
		font-size:150%;
		padding:5%;
		text-align:center;
	}
	td,th{
		border:1px solid #cc0088;
		text-align:left;
		padding:8px;
		color:#ac00e6;
	}
	.h2{
		text-align:center;
		color:#cc0088;
		position:relative;
		top:5%;
	}
	table{
		margin-left:auto;
		margin-right:auto;
	}
	label{
		color:#ac00e6;
	}
	marquee{
		color:#cc0088;
	}
	#sub{
		background-color:#d966ff;
		width:10%;
		border-radius;5px;
	}
	#thank{
		color:#cc0088;
		font-size:150%;
	}
	#ans{
		width:50%;
		height:10%;
	}
	#txt{
		text-align:center;
	}
	#sun{
		padding:5%;
		word-wrap:break-word;
	}
}

@media screen and (min-width:360px) and (max-width:700px){
	*{
		box-sizing:border-box;
	}
	.flex-container{
		display:flex;
		flex-direction:column;
		justify-content:space-around;
		align-items:center;
		position:relative;
		top:41%;
	}
	.flex-item{
		background-color:#d966ff;
		width:30%;
		height:150px;
		border: 2px solid black;
		font-weight:bolder;
		border-radius:4px;
	}
	.flex-item-2{
		width:20%;
		height:150px;
		font-weight:bolder;
	}
	body{
		background-color:#FFE6F7;
	}
	
	header{
		position:relative;
		top:0px;
		margin:auto;
		height:10%;
		border: 2px solid black;
		color: white;
		font-size:50px;
		text-align:center;
		background-color:#FF66CC;
	}
	nav{
		background-color:#D9B3FF;
		height:8%;
	}
	.li{
		display:inline;
		position:relative;
		top:15px;
		float:center-right;
	}
	li a{
		text-decoration:none;
		color:black;
		text-align:center;
		font-weight:bold;
		white-space:normal;
		word-spacing:20px;
	}
	button{
		width:15%;
		margin: -2px 12px;
		border: 2px solid #ff3399;
		border-radius:5px;
		padding:5px;
		 
	}
	.flex-a{
		text-decoration:none;
		color:white;
		text-align:center;
		font-weight:bolder;
		position:relative;
		margin:auto;
		/*top:40%;
		left:20%;*/
		font-size:150%;
		padding:5%;
		/*word-wrap:*/
	}
	#h1{
		text-align:center;
		color:#cc0088;
		position:relative;
		top:15%;
	}
	#moi{
		position:relative;
		left:15%;
	}
	#cond{
		padding:5%;
		word-wrap:break-word;
	}
	#oil{
		position:relative;
		left:35%;
	}
	.flex-b{
		text-decoration:none;
		color:black;
		font-weight:bolder;
		position:relative;
		top:40%;
		left:20%;
		font-size:150%;
		padding:5%;
		text-align:center;
	}
	
	td, th{
		border:1px solid #cc0088;
		text-align:left;
		padding:8px;
		color:#ac00e6;
	}
	.h2{
		text-align:center;
		color:#cc0088;
		position:relative;
		top:5%;
	}
	table{
		margin-left:auto;
		margin-right:auto;
	}
	label{
		color:#ac00e6;
	}
	marquee{
		color:#cc0088;
	}
	#sub{
		background-color:#d966ff;
		width:10%;
		border-radius:5px;
	}
	#thank{
		color:#cc0088;
		font-size:150%;
	}
	#ans{
		width:50%;
		height:10%;
	}
	#txt{
		text-align:center;
	}
	#sun{
		padding:5%;
		word-wrap:break-word;
	}
	
}